html {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title {
    text-align: center;
    width: auto;
    min-width: 300px;
    justify-content: center;
    position: relative;
    font-weight: 200;
}

#header {
    justify-content: center;
}

#navigation {
    display: block;
    position: relative;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.sidenav span {
    float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#home, #choirs, #support-us, #links, #alumni {
    padding:  3px 20px;
    color: black;
    text-decoration: none;
}

#home {
    border-bottom: 2px solid purple;
}

a:hover {
    border-bottom: 2px solid purple;
}

.body-article {
    display: block ;
    max-width: 500px;
    justify-content: center;
    line-height: normal;
    margin: 0 5%;
}

.content-container {
    max-width: 1366px;
    position: relative;
    margin: 0 auto;
}

#article-title {
    width: auto;
    margin: 0 5%;
}

