html {
    font-size: 16px;
}

#title {
    text-align: center;
    width: auto;
    min-width: 300px;
    justify-content: center;
    position: relative;
}

#header {
    justify-content: center;
}

#navigation {
    display: block;
    position: relative;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}

#home, #choirs, #support-us, #links, #alumni {
    padding: 10px;
}

