html {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title {
    text-align: center;
    width: auto;
    min-width: 300px;
    justify-content: center;
    position: relative;
    font-weight: 200;
}

#header {
    justify-content: center;
}

#navigation {
    display: block;
    position: relative;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

#home, #choirs, #support-us, #links, #alumni {
    padding:  3px 20px;
    color: black;
    text-decoration: none;
}