@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Montserrat:wght@300;400&display=swap');

html {
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}

#title {
  width: 100%;
  margin: 0 50px;
}

#title h1 {
  font-weight: 300;
  width: 200px;
  margin-left: 40px;
}


#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  margin: 15px 0;
  border-bottom: grey solid 1px;
}

#main h1{
  font-size: 20px;
  width: 300px;
  float: left;
  padding: 0;
  margin: 0 100px 0 0;
  text-align: left;
}

ul {
  position:relative;
  margin:0;
  padding:0;
}
#menu {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  font-weight:bold;
  cursor:pointer;
  background: white;
  border-radius:2px;
  -moz-border-radius:2px; 
  -webkit-border-radius:2px;
  z-index: 3;
}
#menu ul {
  display:table;
  line-height:10px;
}
#menu ul li {
  position:relative;
  display:inline;
}
#menu ul li a {
  float:left;
  position:relative;
  padding:20px;
  color: black;
  text-decoration:none;
  font-weight: 300;
}
#menu ul li a:hover {
  opacity: .75;
  background: whitesmoke;
}
#menu ul ul {
  position:absolute;
  width:210px;
  top:50px;
  left:-370px;       /* CHROME, SAFARI */
  -webkit-transform:translateX(232px);     /* CHROME SAFARI */
  -moz-transform:translateX(135px);       /* FIREFOX */
  
  /* BACKGROUND COLOR AND BORDER. */
  background: white;
  border-radius:2px;
  -moz-border-radius:2px; 
  -webkit-border-radius:2px;

  /* ADD BORDER SHADOW. */
  box-shadow:0 0 10px #444;
  -moz-box-shadow:0 0 10px #444;
  -webkit-box-shadow:0 0 10px #444;
}

/* SUB MENU LIST */
#menu ul ul li {
  text-align:left; 
  margin:0;
}

/* SET HEIGHT AS '0', SO THE SUBMENUS REMAINS HIDDEN IN THE BEGINNING. */

#menu ul ul li a {
  height:0; 
  line-height:0; 
  width:200px; 
  color:black;
  padding:0 20px;
  -moz-opacity: 0;
  opacity:0;
  filter: alpha(opacity=0);
}

#menu ul ul li a:hover {
  opacity: .75;
  background: whitesmoke;
}

#menu ul ul ul {
  visibility:hidden;
  position:absolute;
  top:175px;
}

#categories a {
transition:all 0.3s linear; 
-o-transition:all 0.3s linear;
-moz-transition:all 0.3s linear; 
-webkit-transition:all 0.3s linear;
}

#categories:hover ul li a {
  height:40px;
  line-height:40px;
  -moz-opacity: 1;
  opacity:1;
  filter: alpha(opacity=100);
}

#menu #categories #da > ul {
  transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -o-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -moz-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
-webkit-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
#menu #categories #da:hover > ul {
  visibility:visible;
  position:absolute;
  left:-232px;                             /* CHROME, SAFARI */
  -moz-transform:translateX(232px);       /* FIREFOX */
}

#categorie2 a {
  transition:all 0.3s linear; 
  -o-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear; 
  -webkit-transition:all 0.3s linear;
  }
  
  #categorie2:hover ul li a {
    height:40px;
    line-height:40px;
    -moz-opacity: 1;
    opacity:1;
    filter: alpha(opacity=100);
  }
  
  #menu #categorie2 #da > ul {
    transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -moz-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  -webkit-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
  }
  #menu #categorie2 #da:hover > ul {
    visibility:visible;
    position:absolute;
    left:-232px;                             /* CHROME, SAFARI */
    -moz-transform:translateX(232px);       /* FIREFOX */
  }

#navigation {
    display: block;
    position: relative;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

#head-image {
  padding: 0;
  margin: 0 auto;
  display: flex;
  background-image: url(./images/headImage.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  color: white;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-position: 50% 30%;
  font-weight: 300;
}

#head-image h1 {
  font-weight: 300;
}

#dates-list {
  line-height: 20px;
}
/* this is for the side menu for phone

.sidenav span {
    float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */

#home, #choirs, #support-us, #links, #alumni {
    padding:  3px 20px;
    color: black;
    text-decoration: none;
}

#content-container {
  width: 90%;
  margin: 30px auto;
}

#content-container {
  font-size: 25px;
}

h3 {
  font-size: 25px;
}

p {
  font-weight: 300;
  line-height: 35px;
  font-size: 13px;
} 

#helpful-links {
  display: flex;
  flex-direction: column ;
  text-align: center;
  font-size: 25px;
  color: black;
}

#helpful-links a, p {
  text-align: left;
  color: grey;
  font-size: 17px;
  padding: 5px 0;
}

#helpful-links p {
  font-weight: 300;
  margin: 0;
  padding: 5px 0;
  color: black;
}

#helpful-links h3 {
  font-size: 30px;
}

#handbook {
  margin: 10px 30px;
  font-size: 20px;
}

#hanbook h3 {
  font-size: 25px;
}

#imgCaption a {
  color: black;
  font-size: 20px;
}

#faqs h3 {
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}

#faqs p {
  color: grey;
}

#faqs a {
  color: grey;
}

#fees h3 {
  font-size: 25px;
}

#fees p {
  color: grey;
}

#concert-choir a {
  color: grey;
}